[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
python_version = "3.10+"

[packages]
fastapi = "*"
uvicorn = {extras = ["standart"], version = "*"}
asyncpg = "*"
passlib = {extras = ["bcrypt"], version = "*"}
pydantic = {extras = ["email"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
aiofiles = "*"
python-pptx = "*"
python-multipart = "*"

[dev-packages]
httpx = "*"
pytest = "*"
pytest-asyncio = "*"
black = "*"
requests = "*"
pytest-repeat = "*"
pytest-xdist = "*"

[requires]
python_version = "3.10"
