[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standart"], version = "*"}
asyncpg = "*"
passlib = {extras = ["bcrypt"], version = "*"}
pydantic = {extras = ["email"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
black = "*"
requests = "*"

[requires]
python_version = "3.10"
